body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
    padding: 20px;
}

.form-section {
    margin-bottom: 10px;
}

input[type="text"] {
    width: 40%;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #45a049;
}

.image-display {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 20px;
}

.image-container {
    width: 50%;
    border: 2px solid #ccc;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
}

.image-list {
    width: 30%;
    text-align: left;
}

ol {
    list-style-type: decimal;
}

.tlacitko{
    margin-top: 10px;
}